@mixin text ($f-size,$f-weight,$l-height){
	font-size: $f-size;
	font-weight: $f-weight;
	line-height: $l-height;
}
.main1{
	padding-top: 25px;
	padding-bottom: 80px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
	h2{
		@include text(22px,400, 60px);
		color: #21243D;
	}
}
.main1-boxes{
	display: flex;
	flex-direction: column;
	gap: 25px;
	.main1-box{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
		img{
			max-width: 250px;
		}
		.main1-desc{
			display: flex;
			flex-direction: column;
			gap: 25px;
			width: 65%;
			h3{
				@include text(30px,700, 44px);
				color: #21243D;
			}
			.main1-year{
				display: flex;
				align-items: center;
				gap: 20px;
				h5{
					@include text(20px,400, 30px);
					color: #8695A4;
				}
				.year{
					width: 60px;
					height: 25px;
					background-color: #142850;
					border-radius: 16px;
					display: flex;
					align-items: center;
					justify-content: center;
					h6{
						@include text(18px,900, 60px);
						color: #fff;
					}
				}
			}
			p{
				@include text(16px,400, 24px);
				color: #21243D;
			}
		}
	}
}
.main1-line{
	width: 100%;
	border: 1px solid #E0E0E0;
}
@media (max-width: 960px) {
	.main1{
		display: flex;
		flex-direction: column;
		align-items: center;
		.main1-boxes{
			display: flex;
			flex-direction: column;
			align-items: center;
			.main1-desc{
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
		}
	}
}
@media (max-width: 450px) {
	.main1-desc{
		h3{
			@include text(24px,700, 30px);
		}
		.main1-year{
			h5{
				@include text(16px,400, 24px);
			}
		}
	}
}